/* /styles/Home.module.css */
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    font-size: 4rem;
    margin-bottom: 30px;
  }
  
  .startButton {
    background-color: #ffd580;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 12px;
  }
  