/* /styles/NavigationArrows.module.css */
.navArrows {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 10vh;
    margin-top: 20px;
  }
  
  .arrow {
    font-size: 2rem;
    background-color: transparent;
  }
  